* {
  box-sizing: border-box;
}

:root {
  --accent: #0C7CB0;
  --bg: #f2f2f2;
  --bgMain: #fcfcfc;
  --bgButton1: var(--bgInput);
  --titulo: black;
  --texto: #222;
  --bdInput: #333;
  --box: 8px;
  --tamtit: 36px;
  --tamTexto: 20px;
  --tamTexto2: 16px;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --winColor: #303030;
    --bg: #2a2a2a;
    --bgMain: #404040;
    --bgButton1: #404040;
    --titulo: white;
    --texto: #ddd;
    --bdInput: #ccc;
  }
}

body {
  background-color: var(--bg);
  color: var(--texto);
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI Variable Display","Segoe UI","Open Sans","Helvetica",sans;
}

main {
  padding: 3em 5em;;
  border-radius: 15px;
  background-color: var(--bgMain);
  
  position: fixed;
  bottom: -10px;
  margin: 0 20vw;
  height: 95vh;
  width: 60vw;
}

main h1 {
  margin: 0;
  font-size: var(--tamtit);
  font-weight: 600;
  color: var(--titulo);
}

ul {
  padding: 0;
  overflow: auto;
}

li {
  list-style: none;
  font-size: var(--tamTexto);
  line-height: 2.2em; 
}

input[type=checkbox] {
  margin: 0 6px 0 0;
  vertical-align: middle;
  position: relative;
  top: -1px; 
  accent-color: var(--accent);
}

#novaTarefa {
  font-size: var(--tamTexto);
  background-color: var(--bgInput);
  border: none;
  border-bottom: 1px solid var(--accent);
  transform: all 1s ease-in-out;
  outline: none;
  color: var(--texto);
  padding: .5em;
  width: 100%;
  font-size: var(--tamTexto2);
}

div#tarefanova {
  margin-left: 20px;
}

#novaTarefa:hover, #novaTarefa:focus {
  border-bottom-width: 3px;
}

#addTarefa {
  margin-top: 1.5em;
  font-size: var(--tamTexto2);
  color: var(--accent);
  padding: .5em 1em;
  border-radius: var(--box);
  box-shadow: none;
  border: 1px solid var(--accent);
  background: var(--bgButton1);
  display: block;
  float: right;
}

#addTarefa:hover {
  background-color: var(--accent);
  color: white;
}

.completa {
  text-decoration: line-through;
}